{% extends "./layout-index.html" %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/index_style.css' %}">
<div class="main-container">
    <div class="post">
        {% for post in posts %}
        <a href="{% url 'post' %}?id={{ post.id }}" class="post-card">
            <div class="post-card-img" id="post-{{post.id}}"></div>
            <div class="post-card-text">
                <h2>{{ post.title }}</h2>
                <p>{{ post.author }}     {{ post.created_at }}</p>
            </div>
        </a>
        <script>
            fetch('/api/proxy', { method: 'GET' })
            .then(function(response) {
            if (response.ok) {
                // 获取代理的图片数据
                return response.blob();
            } else {
                console.log('Error:', response.statusText);
            }
        })
        .then(function(imageBlob) {
            if (imageBlob) {
                // 创建URL对象，用于显示图片
                const imageUrl = URL.createObjectURL(imageBlob);

                // 修改原始代码，将图片设置为背景
                var postID='{{ post.id|escapejs }}'
                var cardElement = document.getElementById("post-" + postID);
                cardElement.style.backgroundImage = "url('" + imageUrl + "')";
            }
        })
            .catch(function(error) {
                console.log('Error:', error);
        });
            </script>
        {% endfor %}
    </div>
</div>
{% endblock %}