{% extends "./layout-index.html" %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/index_style.css' %}">
<div class="main-container">
    <div class="post">
        {% for post in posts %}
        <a href="{% url 'post' %}?id={{ post.id }}" class="post-card">
            <div class="post-card-img"></div>
            <div class="post-card-text">
                <h2>{{ post.title }}</h2>
                <p>{{ post.author }}     {{ post.created_at }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}