{% extends "./layout-index.html" %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/post_style.css' %}">
<link rel="stylesheet" href="{% static 'css/markdown-content.css' %}">
<link rel="stylesheet" href="{% static 'css/comment_style.css' %}">
<div class="markdown-main">
    <div class="markdown-title">
        {{markdown.title}}
    </div>
    <div class="markdown-author">
        {{markdown.view_count}}浏览     |    {{markdown.created_at}}    |    {{markdown.author}}
    </div>
    <div class="markdown-content">
        <!-- 这里是markdown内容的输出位置，通过js输出 -->
    </div>
    <div class="tool_bar_border">
        <div class="tool_bar">
            <button class="article_share"><i class="fa-solid fa-share fa-2xl"></i></button>
            <button class="article_thumbs_up" data-article-id="{{markdown.id}}"><i class="fa-regular fa-heart fa-2xl"></i><span style="margin-left: 10px;">{{markdown.thumbs_up}}</span></button>
        </div>
    </div>
    <div class="comment_post" >
        <h1>发表评论</h1>
        <div class="comment_post_border">
            <form id="comment_form" method="post" action="{% url 'post_comment' %}">
                {% csrf_token %}
                <textarea id="comment-textarea" class="comment-textarea" name="text" rows="8" cols="50" tabindex="4" required=""></textarea>
                {% if user.is_authenticated %}
                    <input name="now-author" value= "{{ user.username }}" style="display: none;">
                    <input name="now-article" value= "{{ markdown.id }}" style="display: none;">
                {% endif %}
                {% if user.is_authenticated %}
                    <button id="submit" class="comment-submit">发表评论</button>
                {% else %}
                    <button id="submit" class="comment-submit" disabled>评论前请先登录</button>
                {% endif %}
                
            </form>
        </div>
    </div>
    <div class="comment_content" >
        <h1>全部评论</h1>
        <div class="comment_content_border">
            <div class="comment_content_display">
                {% for root_comment in root_comments %}
                <div class="every_comment">
                    <div class="comment_image">
                        <img src="{% static 'img/avater_240.jpg' %}" alt="" height="40px" width="40px">
                    </div>
                    <div class="comment_main">
                        <div class="comment_main_header">{{ root_comment.author}}</div>
                        <div class="comment_main_content" style="width: auto;">{{root_comment.content}}</div>
                        <div class="comment_main_footer">
                            <div class="comment_main_footer_time"> {{ root_comment.created_at|date:"Y-m-d"}}</div>
                            <div class="comment_main_footer_tool">
                                <button class="comment_reply" onclick="" lay-on="comment_repeat" data-belong-to-comment="{{root_comment.id}}" data-repeat-someone="{{root_comment.author}}"><i class="fa-solid fa-reply fa-2xl"></i></button>
                                <button class="comment_thumbs_up" data-comment-id="{{root_comment.id}}"><i class="fa-regular fa-heart fa-2xl"></i><span style="margin-left: 10px;">{{root_comment.thumbs_up}}</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                {% for child_comment in child_comments %}
                {% if child_comment.belong_to_comment == root_comment.id %}
                <div class="every_comment child_comment">
                    <div class="comment_image">
                        <img src="{% static 'img/avater_240.jpg' %}" alt="" height="40px" width="40px">
                    </div>
                    <div class="comment_main">
                        <div class="comment_main_header">
                            {{ child_comment.author}}
                            {% if child_comment.repeat_someone %}
                            回复 {{child_comment.repeat_someone}}:{% endif %}
                        </div>
                        <div class="comment_main_content" style="width: auto;">{{child_comment.content}}</div>
                        <div class="comment_main_footer">
                            <div class="comment_main_footer_time"> {{ child_comment.created_at|date:"Y-m-d" }}</div>
                            <div class="comment_main_footer_tool">
                                <button class="comment_reply" onclick="" lay-on="comment_repeat" data-belong-to-comment="{{root_comment.id}}" data-repeat-someone="{{child_comment.author}}"><i class="fa-solid fa-reply fa-2xl"></i></button>
                                <button class="comment_thumbs_up" data-comment-id="{{child_comment.id}}"><i class="fa-regular fa-heart fa-2xl"></i><span style="margin-left: 10px;">{{child_comment.thumbs_up}}</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <div class="transparent-row" style="height: 10px;"></div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="main-footer">
    {% if prev_record %}
    <a href="{% url 'post' %}?id={{ prev_record.id }}"><button type="button" class="pre-but">上一篇</button></a>
    {% else %}
    <button type="button" class="pre-but">已经是第一篇了</button>
    {% endif %}
    {% if next_record %}
    <a href="{% url 'post' %}?id={{ next_record.id }}"><button type="button" class="nxt-but">下一篇</button></a>
    {% else %}
    <button type="button" class="nxt-but">已经是最后一篇了</button>
    {% endif %}
</div>
<script>
    // markdown内容的输出
    var markdownContent = document.querySelector('.markdown-content');
    var data = '{{ markdown.content|escapejs }}';
    console.log(data);
    var converter = new showdown.Converter({
        tables:true,
        metadata: true,
        strikethrough: true,
        parseBlockQuotes: false,
    });
    var html = converter.makeHtml(data);
    markdownContent.innerHTML = html;
</script>
<script>
layui.use(function(){
    var layer = layui.layer;
    var util = layui.util;
    var user = '{{ user.is_authenticated }}';
    // 事件
    util.on('lay-on', {
        'comment_repeat': function(){
            if (user === 'False') {
                // 如果用户未登录，显示提示并返回
                layer.msg('请先登录');
                return;
            }
        var belongToComment = this.dataset.belongToComment;
        var repeatSomeone = this.dataset.repeatSomeone;
        var now_article = '{{ markdown.id }}';
        layer.prompt({title: '你正在回复'+repeatSomeone+'的评论,id为'+belongToComment, formType: 2}, function(value, index, elem){
            if(value === '') return elem.focus();
            // Send post request to the backend
            var commentText = value;
            var formData = new FormData();
            formData.append('text', commentText);
            formData.append('now-article', now_article);
            formData.append('belong_to_comment', belongToComment);
            formData.append('repeatSomeone', repeatSomeone);
            var csrftoken = document.cookie.split('; ').find(row => row.startsWith('csrftoken')).split('=')[1];
            fetch('/post_comment', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': csrftoken
                }
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                // Handle any errors that occurred during the request
                console.error(error);
            });
            layer.msg('评论成功,网页将自动刷新');
            layer.close(index);
            window.location.reload();
        });
    },
  })
});
</script>
<script>
$('.comment_thumbs_up').click(function() {
    var csrftoken = '{{ csrf_token }}'; // 获取 CSRF 令牌
    var icon = $(this).find('i.fa-heart');
    var span = $(this).find('span'); // 找到 span
    var commentId = $(this).data('comment-id'); // 获取评论的 ID

    var isLike = icon.hasClass('fa-regular');
    var url = isLike ? 'like_comment' : 'dislike_comment'; // 根据是否点赞选择不同的 URL

    // 向后端发送 POST 请求
    $.ajax({
        url: url,
        type: 'post',
        data: {comment_id: commentId},
        headers: {'X-CSRFToken': csrftoken}, // 添加 CSRF 令牌到请求头部
        success: function(data) {
            if (data.error) {
                alert(data.error);
            } else {
                // 更新图标和点赞数
                var count = parseInt(span.text()) || 0;
                if (isLike) {
                    icon.removeClass('fa-regular').addClass('fa-solid');
                    count += 1;
                } else {
                    icon.removeClass('fa-solid').addClass('fa-regular');
                    count -= 1;
                }
                span.text(count);
            }
        }
    });
});
</script>
<script>
    $('.article_thumbs_up').click(function() {
        var csrftoken = '{{ csrf_token }}'; // 获取 CSRF 令牌
        var icon = $(this).find('i.fa-heart');
        var span = $(this).find('span'); // 找到 span
        var articleId = $(this).data('article-id'); // 获取评论的 ID
    
        var isLike = icon.hasClass('fa-regular');
        var url = isLike ? 'like_article' : 'dislike_article'; // 根据是否点赞选择不同的 URL
    
        // 向后端发送 POST 请求
        $.ajax({
            url: url,
            type: 'post',
            data: {article_id: articleId},
            headers: {'X-CSRFToken': csrftoken}, // 添加 CSRF 令牌到请求头部
            success: function(data) {
                if (data.error) {
                    alert(data.error);
                } else {
                    // 更新图标和点赞数
                    var count = parseInt(span.text()) || 0;
                    if (isLike) {
                        icon.removeClass('fa-regular').addClass('fa-solid');
                        count += 1;
                    } else {
                        icon.removeClass('fa-solid').addClass('fa-regular');
                        count -= 1;
                    }
                    span.text(count);
                }
            }
        });
    });
    </script>
{% endblock %}