{% extends "./layout-index.html" %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/post_style.css' %}">
<link rel="stylesheet" href="{% static 'css/markdown-content.css' %}">
<link rel="stylesheet" href="{% static 'css/comment_style.css' %}">
<div class="markdown-main">
    <div class="markdown-title">
        {{markdown.title}}
    </div>
    <div class="markdown-author">
        {{markdown.view_count}}浏览     |    {{markdown.created_at}}    |    {{markdown.author}}
    </div>
    <div class="markdown-content">
        <!-- 这里是markdown内容的输出位置，通过js输出 -->
    </div>
    <div class="comment_post" >
        <h1>发表评论</h1>
        <div class="comment_post_border">
            <form id="comment_form" method="post" action="{% url 'post_comment' %}">
                {% csrf_token %}
                <textarea id="comment-textarea" class="comment-textarea" name="text" rows="8" cols="50" tabindex="4" required=""></textarea>
                {% if user.is_authenticated %}
                    <input name="now-author" value= "{{ user.username }}" style="display: none;">
                    <input name="now-article" value= "{{ markdown.id }}" style="display: none;">
                {% endif %}
                {% if user.is_authenticated %}
                    <button id="submit" class="comment-submit">发表评论</button>
                {% else %}
                    <button id="submit" class="comment-submit" disabled>评论前请先登录</button>
                {% endif %}
                
            </form>
        </div>
    </div>
    <div class="comment_content" >
        <h1>全部评论</h1>
        <div class="comment_content_border">
            <div class="comment_content_display">
                {% for root_comment in root_comments %}
                <div class="every_comment">
                    <div class="comment_image">
                        <img src="{% static 'img/avater_240.jpg' %}" alt="" height="40px" width="40px">
                    </div>
                    <div class="comment_main">
                        <div class="comment_main_header">{{ root_comment.author}}</div>
                        <div class="comment_main_content" style="width: auto;">{{root_comment.content}}</div>
                        <div class="comment_main_footer">
                            <div class="comment_main_footer_time"> {{ root_comment.created_at|date:"Y-m-d"}}</div>
                            <div class="comment_main_footer_tool">
                                <button class="comment_reply" onclick="" lay-on="comment_repeat" data-id="{{root_comment.id}}" data-author="{{root_comment.author}}"><i class="fa-solid fa-reply fa-2xl"></i></button>
                                <button class="comment_thumbs_up"><i class="fa-solid fa-thumbs-up fa-2xl"></i></button>
                                <span>0</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% for child_comment in child_comments %}
                {% if child_comment.belong_to_comment == root_comment.id %}
                <div class="every_comment child_comment">
                    <div class="comment_image">
                        <img src="{% static 'img/avater_240.jpg' %}" alt="" height="40px" width="40px">
                    </div>
                    <div class="comment_main">
                        <div class="comment_main_header">
                            {{ child_comment.author}}
                            {% if child_comment.repeat_someone %}
                            回复 {{child_comment.repeat_someone}}:{% endif %}
                        </div>
                        <div class="comment_main_content" style="width: auto;">{{child_comment.content}}</div>
                        <div class="comment_main_footer">
                            <div class="comment_main_footer_time"> {{ child_comment.created_at|date:"Y-m-d" }}</div>
                            <div class="comment_main_footer_tool">
                                <button class="comment_reply"><i class="fa-solid fa-reply fa-2xl"></i></button>
                                <button class="comment_thumbs_up"><i class="fa-solid fa-thumbs-up fa-2xl"></i></button>
                                <span>0</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <div class="transparent-row" style="height: 10px;"></div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="main-footer">
    {% if prev_record %}
    <a href="{% url 'post' %}?id={{ prev_record.id }}"><button type="button" class="pre-but">上一篇</button></a>
    {% else %}
    <button type="button" class="pre-but">已经是第一篇了</button>
    {% endif %}
    {% if next_record %}
    <a href="{% url 'post' %}?id={{ next_record.id }}"><button type="button" class="nxt-but">下一篇</button></a>
    {% else %}
    <button type="button" class="nxt-but">已经是最后一篇了</button>
    {% endif %}
</div>
<script>
    var markdownContent = document.querySelector('.markdown-content');
    var data = '{{ markdown.content|escapejs }}';
    console.log(data);
    var converter = new showdown.Converter({
        tables:true,
        metadata: true,
        strikethrough: true,
        parseBlockQuotes: false,
    });
    var html = converter.makeHtml(data);
    markdownContent.innerHTML = html;
</script>
<script src="//unpkg.com/layui@2.9.7/dist/layui.js"></script> 
<script>
layui.use(function(){
    var layer = layui.layer;
    var util = layui.util;
    // 事件
    util.on('lay-on', {
        'comment_repeat': function(){
        var commentId = this.dataset.id;
        var author = this.dataset.author;
        layer.prompt({title: '你正在回复'+author+'的评论,id为'+commentId, formType: 2}, function(value, index, elem){
            if(value === '') return elem.focus();
            // Send post request to the backend
            var commentId = this.dataset.id;
            var author = this.dataset.author;
            var commentText = value;
            var now_article = '{{ markdown.id }}';
            var formData = new FormData();
            formData.append('id', commentId);
            formData.append('author', author);
            formData.append('text', commentText);
            formData.append('now-article', now_article);
            fetch('index/post_comment', {
                method: 'POST',
                body: formData
            })
        .then(response => response.json())
        .then(data => {
            // Handle the response from the backend
            console.log(data);
            // Display a success message or perform any other actions
        })
        .catch(error => {
            // Handle any errors that occurred during the request
            console.error(error);
        });
        // 关闭 prompt
        layer.close(index);
      });
    },
  })
});
</script>
{% endblock %}