.comment_post_border{
    border-radius: 3px;
    /* border: 1px solid red;  */
    height: auto; 
    width: 100%; 
    margin: 0 auto;
    padding: 10px;
}

.comment-textarea{
    border: 2px solid #797979;
    resize: none;
    background-size: contain;
    border-radius: 5px;
    min-height: 190px;
    width: 100%;
    padding: 13px;
    background-color: rgba(255,255,255,0);
    font-size: large;
}

.comment-submit{
    height: auto;
    width: 20%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: rgba(230, 235, 240, 0.6);
    font-size: 20px;
    border-radius: 5px;
}

.comment-submit:hover{
    cursor: pointer;
    background-color: rgba(230, 235, 240, 1);
}

button:disabled {
    cursor: not-allowed;
}

.comment_content_border{
    border-radius: 3px;
    /* border: 1px solid red;  */
    border: 1px solid #797979;
    height: auto; 
    width: 100%; 
    margin: 0 auto;
    min-height: 200px;
    padding: 10px;
}
.comment_content_display{
    /* border: 1px solid red; */
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.every_comment{
    background-color: rgba(230, 235, 240, 1);
    margin: 0px;
    padding: 10px 20px 14px; 
    border-radius: 5px;
    display: flex;
}

.comment_img{
    box-sizing: border-box;
    margin: 10px;
    flex: 0 0 auto;

}
.comment_main{
    box-sizing: border-box;
    margin: 0px 0px 0px 10px;
    min-width: 0px;
    flex: 1 1 auto;
    /* width: 90%; */
}

.comment_main_header{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    color: rgb(145, 150, 161);
    display: flex;
}

.comment_main_content{
    box-sizing: border-box;
    margin: 4px 0px 0px;
    min-width: 0px;
    overflow: hidden;
    color: rgb(55, 58, 64);
    overflow-wrap: break-word;
    font-size: 15px;
    line-height: 21px;
}

.comment_main_footer{
    box-sizing: border-box;
    margin: 4px 0px 0px;
    min-width: 0px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.comment_main_footer_time{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 auto;
    font-size: 14px;
    color: rgb(145, 150, 161);
    display: flex;
}

.comment_main_footer_tool{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    -webkit-box-align: center;
    align-items: center;
    flex: 0 0 auto;
    display: flex;
}
.comment_main_footer_tool button {
    margin: 12px;
}

.comment_thumbs_up:hover{
    cursor: pointer;
}

.comment_reply:hover{
    cursor: pointer;
}

.child_comment{
    padding: 10px 20px 14px 40px;
}