<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//cdn.staticfile.org/layui/2.9.7/css/layui.css" rel="stylesheet">
    <script src="//cdn.staticfile.org/layui/2.9.7/layui.js"></script>
</head>
<body>
    <form class="layui-form layui-form-pane" enctype="multipart/form-data" method="post" action="{% url 'upload' %}" style="background-color: rgba(230, 235, 240, 0.6);padding: 16px;;">
        {% csrf_token %}
        <div class="layui-form-item">
          <label class="layui-form-label">标题</label>
          <div class="layui-input-block">
            <input type="text" name="title" autocomplete="off" value= "{{ post.title }}" lay-verify="required" class="layui-input" >
          </div>
        </div>
        <div class="layui-form-item">
          <select lay-search="" lay-creatable="" name="tags" lay-verify="required">
            <option value="">选择或创建标签</option>
            {% for tag in tags %}
            <option value="{{ tag.id }}">{{ tag.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="layui-upload-drag" style="display: block;" id="ID-upload-demo-drag">
          <i class="layui-icon layui-icon-upload"></i> 
          <div>上传你的md文件,限制1MB大小</div>
          <div>点击上传,或将文件拖拽到此处</div>
        </div>
        <div class="layui-form-item">
          <button class="layui-btn" lay-submit lay-filter="demo2" id="ID-upload-demo-action">上传文章</button>
        </div>
      </form>
      <script>
        layui.use(function(){
          var upload = layui.upload;
          // 渲染
          upload.render({
            elem: '#ID-upload-demo-drag',
            size: 1024, // 限制文件大小，单位 KB
            auto: false,
            accept: 'file',
            exts:'md',
            // multiple: true,
            done: function(res){
              layer.msg('上传成功');
              console.log(res)
            }
          });
        });
        </script>
</body>
</html>