<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <title>后台管理</title>
    <!-- 页面图标 -->
    <link rel="shortcut icon" href="{% static 'img/avater_240.jpg' %}">
    <!-- 引入字体图标 -->
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.4.0/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/banner.css' %}">
</head>

<body>
    <div class="navbar">
        <label class="top-title">
            <i>欢迎您，{{username}}</i>
        </label>
        <ul>
            <li>
                <a href="/index">
                <img src="{% static 'img/avater_240.jpg' %}" alt="">
                </a>
            </li>
            <li>
                <a href="./home" {% if current_page == 'home' %}class="current" {% endif %}>
                    <!--current_page == 'home',等号两边要有空格,不然会报错-->
                    <i class="fa-solid fa-house"></i>
                    <span>后台首页</span>
                </a>
            </li>
            <li>
                <a href="./list" {% if current_page == 'list' %}class="current" {% endif %}>
                    <i class="fa-solid fa-list"></i>
                    <span>文章列表</span>
                </a>
            </li>
            <li>
                <a href="./data" {% if current_page == 'data' %}class="current" {% endif %}>
                    <i class="fa-solid fa-chart-line"></i>
                    <span>数据管理</span>
                </a>
            </li>
            <li>
                <a href="./userall" {% if current_page == 'userall' %}class="current" {% endif %}>
                    <i class="fa-solid fa-user"></i>
                    <span>用户管理</span>
                </a>
            </li>
            <li>
                <a href="./setting" {% if current_page == 'setting' %}class="current" {% endif %}>
                    <i class="fa-solid fa-gear"></i>
                    <span>系统设置</span>
                </a>
            </li>
            <li>
                <a href="{% url 'logout' %}">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>退出登录</span>
                </a>
            </li>
        </ul>
        <div class="main">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>

</html>